.topbar {
  left:0px;
  right:0px;
  width:100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.custom-bg {
  background-color: #0d47a1;
  padding: 3em;
  border-radius:10%;
}
